.copyright{
    padding: 20px 0;
    background-color: #313454;
}
.copyright__text{
    text-align: center;
    font-size: 15px;
    color: #6c7279;
    line-height: 1.5;
}
.copyright__text span{
    color: #fff;
}
/*web*/
.copyright--colorWeb{
    padding: 20px 0;
    background-color: #95e1d3;
    border-top: 1px solid #fff;
}
/*it*/
.copyright--colorIt {
    padding: 20px 0;
    background-color: #0275d8;
}
.copyright__text--colorIt {
    text-align: center;
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}
.copyright__text--colorIt span{
    color: #fff;
}