body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  background-color: black;
}
.image {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.image-switch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-switch-item {
  width: 33.33%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.image-switch-item::after {
  content: "";
  width: 90%;
  margin: 0 auto;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.switched-image {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  pointer-events: none;
}

.image:hover .image-switch {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.image-switch-item:hover .switched-image {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  z-index: -1;
}

.image-switch-item:hover::after {
  background-color: green;
  transition: all 0.3s ease-in-out;
}

