.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item {
    width: 33.33333%;
    padding: 0 15px;
}
.card__inner {
    position: relative;
    background-color: #95e1d3;
}
.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}
.card__inner:hover .card__img img {
    opacity: .1;
}
.card__inner:hover .card__text {
    opacity: 1;
}
.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}
.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.card--btn {
    display: flex;
    justify-content: center;
}
.card--btn__item {
    height: 55px;
    padding: 5px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    transition: background .1s linear, color .1s linear;
    cursor: pointer;
}
.card--btn__item:last-child {
    border-right: 0;
}
.card--btn__item:hover {
    color: #fff;
    background-color: #f38181;
}
@media (max-width: 770px) {
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
}
