

.education__item {
    margin-bottom: 10px;
    border: 1px solid #fff;
}
.education__item.active .education__content {
    display: block;
}
.education__item.active .education__header {
    border-bottom-color: #e5e5e5;
}
.education__item.active .educationn__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}
.education__header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.education__header:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}
.education__content {
    padding: 15px 20px;
    display: none;
    font-size: 15px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}
.education__title {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}