.speciality {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.speciality__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}

.speciality__icon {
    margin-bottom: 25px;
}

.speciality__content {
    margin-bottom: 15px;
}
.speciality_title {
    margin-bottom: 10px;
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}
.speciality_title a {
    color: inherit;
    text-decoration: none;
}
.speciality_title a:hover {
    text-decoration: underline;
}
.speciality__text {
    font-size: 15px;
    color: #999;
}
.speciality__text a {
    color:#eb8b8d;
}
;
@media (max-width: 991px){
    .speciality__item {
        width: 50%;
    }
}
@media (max-width: 767px){
    .speciality {
        margin: 40px 0;
    }

    .speciality__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
