@charset "UTF-8";
body{
	background-color: black;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: green;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: absolute;
}
.box_pr{
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
	background-color: green;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: -1px 3px 10px black;
}
.box_pr_cover{
	width: inherit;
	height: inherit;
	border-radius: 10px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: absolute;
	/*display: none;*/
	z-index: 2;
	/*transition: all .3s ease-out;*/ 
	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
	transform: translateY(0%);
}
.box_pr:hover > .box_pr_cover{
	transform: translateY(-95%);
	/*transition: all .3s ease-in;*/
	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
	box-shadow: -1px 3px 10px black;
}
.box_pr_cover img{
	width: 90%;
	height: auto;
}
.box_pr_info{
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 1;
}
.box_pr_info h2{
	text-align: center;
	width: 90%;
	color: black;
	font-size: 20px;
}
.box_pr_info a{
	text-decoration: none;
	color: green;
	display: block;
	padding: 15px 25px;
	background-color: black;
	margin-top: 15px;
}